#{
  color: red;
}

body{
  background: #999999;
}

div{
  height: 250px;
  width: 250px;
  display: inline-block;
}

.blue{
  background: blue;
}

.white{
  background: white;
}

.red{
  background: red;
}
